* {
    font-family: "Cascadia Code Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #565f89;
    border-radius: 5px;
    background-color: rgba(36, 40, 59, 0.9);
    font-family: monospace;
    font-size: 12px;
    opacity: 0.9;
}

#input {
    margin: 5px;
    border: 1px solid #24283b;
    color: #c0caf5;
    background-color: #24283b;
}

#input image {
    color: #c0caf5;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #24283b;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #24283b;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#entry:selected {
    background-color: #565f89;
    font-weight: normal;
}

#text:selected {
    background-color: #565f89;
    font-weight: normal;
}
